.env
Clean Architecture (Robert C. Martin) (Z-Library).pdf
Clean Code Principles And Patterns Python Edition (Petri Silén).pdf
Clean Code_ A Handbook of Agile Software Craftsmanship - Robert C. Martin.pdf
__pycache__/config.cpython-312.pyc
